<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Hands-on Lab : Web Scraping**

Estimated time needed: **30 to 45** minutes

## Objectives

In this lab you will perform the following:

* Extract information from a given web site 
* Write the scraped data into a csv file.

## Extract information from the given web site
You will extract the data from the below web site: <br>

In [1]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

Import the required libraries

In [15]:
# Your code here

!pip install ipython --upgrade
import pandas as pd
import requests
from bs4 import BeautifulSoup

Requirement already satisfied: ipython in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (7.33.0)
Collecting ipython
  Downloading ipython-7.34.0-py3-none-any.whl (793 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 793.8/793.8 kB 47.8 MB/s eta 0:00:00
Requirement already satisfied: setuptools>=18.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython) (67.7.2)
Requirement already satisfied: jedi>=0.16 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython) (0.18.2)
Requirement already satisfied: decorator in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython) (5.1.1)
Requirement already satisfied: pickleshare in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython) (5.9.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython) (3.0.38)
Requirement already satisfied: pygments in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython) (2.15.1)
Requirement already satisfied: backcall in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython) (0.2.0)
Requirement already satisfied: matplotlib-inline in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython) (4.8.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from jedi>=0.16->ipython) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pexpect>4.3->ipython) (0.7.0)
Requirement already satisfied: wcwidth in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython) (0.2.6)
Installing collected packages: ipython
  Attempting uninstall: ipython
    Found existing installation: ipython 7.33.0
    Uninstalling ipython-7.33.0:
      Successfully uninstalled ipython-7.33.0
Successfully installed ipython-7.34.0

Download the webpage at the url

In [3]:
#your code goes here
data=requests.get(url).text
print(data)

<!doctype html>
<html lang="en">
<head>
<title>
Salary survey results of programming languages
</title>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>

<body>
<hr />
<h2>Popular Programming Languages</h2>
<hr />
<p>Finding out which is the best language is a tough task. A programming language is created to solve a specific problem. A language which is good for task A may not be able to properly handle task B. Comparing programming language is never easy. What we can do, however, is find which is popular in the industry.</p>
<p>There are many ways to find the popularity of a programming languages. Counting the number of google searchs for each language is a simple way to find the popularity. GitHub and StackOverflow also can give some good pointers.</p>
<p>Salary surveys are a way to find out the programmings languages that are most in demand in the industry. Below table is the result of one such survey. When using any survey keep in mind that the results vary year on year.</p>
<hr />
<table>
<tbody>
<tr>
<td>No.</td>
<td>Language</td>
<td>Created By</td>
<td>Average Annual Salary</td>
<td>Learning Difficulty</td>
</tr>
<tr>
<td>1</td>
<td>Python</td>
<td>Guido van Rossum</td>
<td>$114,383</td>
<td>Easy</td>
</tr>
<tr>
<td>2</td>
<td>Java</td>
<td>James Gosling</td>
<td>$101,013</td>
<td>Easy</td>
</tr>
<tr>
<td>3</td>
<td>R</td>
<td>Robert Gentleman, Ross Ihaka</td>
<td>$92,037</td>
<td>Hard</td>
</tr>
<tr>
<td>4</td>
<td>Javascript</td>
<td>Netscape</td>
<td>$110,981</td>
<td>Easy</td>
</tr>
<tr>
<td>5</td>
<td>Swift</td>
<td>Apple</td>
<td>$130,801</td>
<td>Easy</td>
</tr>
<tr>
<td>6</td>
<td>C++</td>
<td>Bjarne Stroustrup</td>
<td>$113,865</td>
<td>Hard</td>
</tr>
<tr>
<td>7</td>
<td>C#</td>
<td>Microsoft</td>
<td>$88,726</td>
<td>Hard</td>
</tr>
<tr>
<td>8</td>
<td>PHP</td>
<td>Rasmus Lerdorf</td>
<td>$84,727</td>
<td>Easy</td>
</tr>
<tr>
<td>9</td>
<td>SQL</td>
<td>Donald D. Chamberlin, Raymond F. Boyce.</td>
<td>$84,793</td>
<td>Easy</td>
</tr>
<tr>
<td>10</td>
<td>Go</td>
<td>Robert Griesemer, Ken Thompson, Rob Pike.</td>
<td>$94,082</td>
<td>Difficult</td>
</tr>
</tbody>
</table>
<hr />
</body>
</html>

Create a soup object

In [30]:
#your code goes here
soup=BeautifulSoup(data,'html.parser')
table=soup.find('table')
table_df=pd.DataFrame(columns=['Language','Average_Annual_Salary'])

      Language  Average_Annual_Salary
0     Language  Average Annual Salary
1       Python               $114,383
2         Java               $101,013
3            R                $92,037
4   Javascript               $110,981
5        Swift               $130,801
6          C++               $113,865
7           C#                $88,726
8          PHP                $84,727
9          SQL                $84,793
10          Go                $94,082

Scrape the `Language name` and `annual average salary`.

In [31]:
#get data to table
for row in table.find_all('tr'):
    cell=row.find_all('td')
    Language=cell[1].getText()
    Average_Annual_Salary=cell[3].getText()
    table_df=table_df.append({'Language': Language, 'Average_Annual_Salary': Average_Annual_Salary,}, ignore_index=True)
table_df

      Language  Average_Annual_Salary
0     Language  Average Annual Salary
1       Python               $114,383
2         Java               $101,013
3            R                $92,037
4   Javascript               $110,981
5        Swift               $130,801
6          C++               $113,865
7           C#                $88,726
8          PHP                $84,727
9          SQL                $84,793
10          Go                $94,082
11    Language  Average Annual Salary
12      Python               $114,383
13        Java               $101,013
14           R                $92,037
15  Javascript               $110,981
16       Swift               $130,801
17         C++               $113,865
18          C#                $88,726
19         PHP                $84,727
20         SQL                $84,793
21          Go                $94,082

Save the scrapped data into a file named *popular-languages.csv*

In [32]:
# your code goes here
table_df.to_csv('popular-languages.csv')
table_df

      Language  Average_Annual_Salary
0     Language  Average Annual Salary
1       Python               $114,383
2         Java               $101,013
3            R                $92,037
4   Javascript               $110,981
5        Swift               $130,801
6          C++               $113,865
7           C#                $88,726
8          PHP                $84,727
9          SQL                $84,793
10          Go                $94,082
11    Language  Average Annual Salary
12      Python               $114,383
13        Java               $101,013
14           R                $92,037
15  Javascript               $110,981
16       Swift               $130,801
17         C++               $113,865
18          C#                $88,726
19         PHP                $84,727
20         SQL                $84,793
21          Go                $94,082

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
|---|---|---|---|
| 2020-10-17  | 0.1  | Ramesh Sannareddy  |  Created initial version of the lab |

 Copyright &copy; 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01).